<!DOCTYPE html>
<html>
  <head>
    <title>AutoSegMiniApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <hr>
    <% end %></header>
    <nav><ul>
      <li><%= link_to('AutoSegMiniApp', root_path) %></li>
      <br />
      <%= render 'devise/registration_link' %>
      <%= render 'devise/session_link' %>
      <br />
      <li><%= link_to('Listas de tarefas', task_relations_path) %></li>
      <li><%= link_to('Criar lista de tarefas', new_task_relation_path) %></li>
    </ul></nav>
    <hr>
    <article><%= yield %></article>
  </body>
</html>
